<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.36">
      <gitLabConnection></gitLabConnection>
      <jobCredentialId></jobCredentialId>
      <useAlternativeCredential>false</useAlternativeCredential>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.11.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/dhilip109/Jenkins.git</url>
        <credentialsId>edfdcac2-5b33-465c-adb8-37e6818caa36</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/main</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.34.3.1">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>cd C:\Work\1\MBD\Jenkins\Test\&#xd;
&quot;C:\Program Files (x86)\MATLAB\R2014a\bin\matlab.exe&quot; -r &quot;C:\Work\1\MBD\Jenkins\Test\trail&quot; &gt;log.txt</command>
      <configuredLocalRules/>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>matlab -nodisplay -nosplash -nodesktop -r &quot;cd Test;testfunc;exit&quot;&#xd;
&#xd;
cd .&#xd;
echo %cd%</command>
      <configuredLocalRules/>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers>
    <com.mathworks.ci.UseMatlabVersionBuildWrapper plugin="matlab@2.9.0">
      <matlabRootFolder>C:\Program Files (x86)\MATLAB\R2014a</matlabRootFolder>
      <matlabInstallationName>Custom...</matlabInstallationName>
    </com.mathworks.ci.UseMatlabVersionBuildWrapper>
  </buildWrappers>
</project>